<div ng-controller="get">
    <!-- <h1>{{theTime}}</h1>
    <ul>
        <li ng-repeat="x in name">{{x}}</li>
    </ul>
    <input ng-model="addMe">
    <button ng-click="addItem()">Add</button> -->
</div>
    number of row  : 
    <input type="number" step="1" min="1" max="20" ng-model="row">
    <table class="table table">  
        <tr>  
            <th>id</th>  
            <th>employee_name</th>  
            <th>employee_salary</th>
            <th>employee_age</th>  
        </tr>  
        <tr ng-repeat="Emp in Employee | limitTo:row">  
            <td>{{Emp.id}}</td>  
            <td>{{Emp.employee_name}}</td>  
            <td>{{Emp.employee_salary}}</td>  
            <td>{{Emp.employee_age}}</td>
            </tr>  
    </table> 
</div>